.completedTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.completedTask h2,
.trash__task {
  font-family: "Reenie Beanie", cursive;
  font-size: 3rem;
  margin-top: 1rem;
}
.errorMessage {
  margin-top: 25%;
}

.completedTask button {
  background: transparent;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

.completedTask__Btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .completedTask h2,
  .trash__task {
    font-size: 2rem;
  }
  .completedTask {
    min-width: 200px;
  }
}
